$primary_color: hsl(14, 45%, 36%);
$secondary_color: hsl(332, 51%, 32%);
$neutral_color_1: hsl(0, 0%, 100%);
$neutral_color_2: hsl(330, 100%, 98%);
$neutral_color_3: hsl(30, 54%, 90%);
$neutral_color_4: hsl(30, 18%, 87%);
$neutral_color_5: hsl(30, 10%, 34%);
$neutral_color_6: hsl(24, 5%, 18%);
$font_size: 16px;

@font-face {
  font-family: 'Outfit';
  src: url('/assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: 1 1000;
}

@font-face {
  font-family: 'YoungSerif';
  src: url('/assets/fonts/young-serif/YoungSerif-Regular.ttf');
  font-weight: 400;
}

body {
  margin: 50px;
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.background {
  background-color: $neutral_color_3;
}

.card {
  background-color: $neutral_color_1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 30px;
  width: 50%;
}

@media screen and (max-width: 1000px) {
  .card{
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .card{
    width: 100%;
  }

  body {
    padding: 5px;
    margin: 5px;
  }
}

.image {
  border-radius: 10px;
  width:90%;
  display: flex;
  align-self: center;
}

h1 {
  color: $neutral_color_6;
  font-family: 'YoungSerif';
}

p {
  color: $neutral_color_5;
  font-family: 'Outfit';
  font-size: $font_size;
  font-weight: 500;
  opacity: 80%;
}

.preparation-time{
  background-color: $neutral_color_2;
  border-radius: 10px;
  padding-left: 20px;
  h3 {
    color: $secondary_color;
    font-family: 'Outfit';
  }
  ul {
    li::marker {
      color: $secondary_color;
    }
  }
}

h2 {
  font-family: 'YoungSerif';
  color: $primary_color;
}

li {
  color: $neutral_color_5;
  font-family: 'Outfit';
  font-size: $font_size;
  font-weight: 500;
  opacity: 80%;
  line-height: 2.0;
}

li::marker {
  color: $primary_color;
  font-weight: 800;
}

table {
  font-family: 'Outfit';
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  td {
    color: $primary_color;
    font-weight: 800;
    padding: 10px;
  }
  tr {
    border-bottom: 1px solid $neutral_color_4;
  }
  th {
    color: $neutral_color_5;
    font-weight: 500;
    opacity: .9;
    padding-left: 20px;
  }
}

.attribution {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  font-family: 'Outfit';
  
  a {
    color: $primary_color;
    font-weight: 800;
    text-decoration: none;
  }
}
